{% extends 'core/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-3xl">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Book Suggestions
                    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse the list of book suggestions that the students and teachers suggested.</p>
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Book title
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Comment
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Created by 
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Suggested by
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for suggestion in suggestions %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ suggestion.book_title }}
                        </th>
                        <td class="px-6 py-4">
                            {{ suggestion.comment }}
                        </td>
                        <td class="px-6 py-4">
                            {{ suggestion.created_at }}
                        </td>
                        <td class="px-6 py-4">
                            {{ suggestion.created_by.first_name }} {{ suggestion.created_by.last_name }}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="{% url 'suggestion:edit' suggestion.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}