{% extends 'core/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="w-full p-6 md:px-10 md:py-10 rounded-lg bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700">
    <h2 class="mb-10 text-2xl text-white font-bold text-center">Book Details</h2>
    <div class="flex flex-wrap">
        <!-- Left side -->
        <div class="md:basis-1/2 w-full">
            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ book.cover_image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ book.overview_image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ book.table_of_contents_image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>
        <!-- Right side -->
        <div class="md:basis-1/2 w-full p-4 rounded-xl">            
            <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="details-tab" data-tabs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false">Details</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="description-tab" data-tabs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="false">Description</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="author-tab" data-tabs-target="#author" type="button" role="tab" aria-controls="author" aria-selected="false">Authors</button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="review-tab" data-tabs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Review</button>
                    </lireview
                    {% if is_staff %}
                    <li class="mr-2" role="presentation">
                        <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div id="myTabContent">
                <div class="hidden p-4 rounded-lg border border-gray-200 dark:border-gray-700" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <div class="flex flex-col">
                        <div class="flex flex-row">
                            <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 17V2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H3a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M5 15V1m8 18v-4"/>
                            </svg>
                            <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Title: {{ book.title }}</span>
                        </div>
                        <div class="flex flex-row">
                            <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"/>
                            </svg>
                            <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Date Published: {{ book.date_published }}</span>
                        </div>
                    </div>
                    <div class="mt-8 rounded-xl">
                        <a href="{% url 'borrow_book:add' book.id %}" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Borrow</a>
                    </div>
                </div>
                <div class="hidden p-4 rounded-lg border border-gray-200 dark:border-gray-700" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <div class="flex flex-row">
                        <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6.072 10.072 2 2 6-4m3.586 4.314.9-.9a2 2 0 0 0 0-2.828l-.9-.9a2 2 0 0 1-.586-1.414V5.072a2 2 0 0 0-2-2H13.8a2 2 0 0 1-1.414-.586l-.9-.9a2 2 0 0 0-2.828 0l-.9.9a2 2 0 0 1-1.414.586H5.072a2 2 0 0 0-2 2v1.272a2 2 0 0 1-.586 1.414l-.9.9a2 2 0 0 0 0 2.828l.9.9a2 2 0 0 1 .586 1.414v1.272a2 2 0 0 0 2 2h1.272a2 2 0 0 1 1.414.586l.9.9a2 2 0 0 0 2.828 0l.9-.9a2 2 0 0 1 1.414-.586h1.272a2 2 0 0 0 2-2V13.8a2 2 0 0 1 .586-1.414Z"/>
                        </svg>
                        <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> ISBN: {{ book.isbn_number }}</span>
                    </div>
                    <div class="flex flex-row">
                        <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1v3m5-3v3m5-3v3M1 7h18M5 11h10M2 3h16a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Z"/>
                        </svg>
                        <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Date Published: {{ book.date_published }}</span>
                    </div>
                    <div class="flex flex-row">
                        <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 2h4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4m6 0v3H6V2m6 0a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1M5 5h8m-5 5h5m-8 0h.01M5 14h.01M8 14h5"/>
                        </svg>
                        <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Inventory: {{ book.inventory }}</span>
                    </div>
                    <div class="flex flex-row">
                        <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 1v14M7 1v14M2 1h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1Z"/>
                          </svg>
                        <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Rack Number: {{ book.rack_number }}</span>
                    </div>
                    <div class="flex flex-row">
                        <svg class="w-4 h-4 m-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h14M1 6h14M1 11h7"/>
                        </svg>
                        <span class="mb-1 text-md text-gray-500 dark:text-gray-300"> Rack Level: {{ book.rack_level_number }}</span>
                    </div>
                </div>
                <div class="hidden p-4 rounded-lg border border-gray-200 dark:border-gray-700" id="author" role="tabpanel" aria-labelledby="author-tab">                                         
                    <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
                        {% for author in authors %}                        
                        <li class="mb-2 ml-6">            
                            <span class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3">
                                <img class="rounded-full shadow-lg" src="{{ author.author.author_image.url }}" alt="Bonnie image"/>
                            </span>
                            <div class="items-center justify-between p-2 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
                                <div class="text-sm font-normal text-gray-500 dark:text-gray-300">{{ author.author.name }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="hidden p-4 rounded-lg border border-gray-200 dark:border-gray-700" id="review" role="tabpanel" aria-labelledby="review-tab">                                       
                    <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
                        {% for review in book_reviews %}                        
                        <li class="mb-2 ml-6">            
                            <span class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3">
                                <img class="rounded-full shadow-lg" src="{{ review.review.profile.image.url }}" alt="Bonnie image"/>
                            </span>
                            <div class="items-center justify-between p-2 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-600">
                                <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0">{{ review.review.user.first_name }} {{ review.review.user.last_name }}</time>
                                <div class="text-sm font-normal text-gray-500 dark:text-gray-300">{{ review.review.review }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                {% if is_staff %}
                <div class="hidden p-3 rounded-lg border border-gray-200 dark:border-gray-700" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <ul aria-labelledby="dropdownButton">
                        <a href="{% url 'book:edit' book.id %}">
                            <li class="block px-2 py-1 text-medium text-gray-700 rounded-md hover:bg-gray-100 dark:hover:bg-gray-500 dark:text-gray-300 dark:hover:text-white">
                                <div class="inline-flex items-center justify-center group">
                                    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                          <path d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z"/>
                                          <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                        </g>
                                      </svg>Edit Book Detail
                                </div>
                            </li>
                        </a>
                        <a href="{% url 'book:add_author_in_author_list' book.id %}">
                            <li class="block px-2 py-1 text-medium text-gray-700 rounded-md hover:bg-gray-100 dark:hover:bg-gray-500 dark:text-gray-300 dark:hover:text-white">
                                <div class="inline-flex items-center justify-center group">
                                    <svg class="w-4 h-4 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 8h6m-3 3V5m-6-.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0ZM5 11h3a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/>
                                    </svg>Add Author in Author List
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>  
{% endblock %}